<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433418384280-acc80n3v26n4bosepj4ql3ra7ba4pcid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433418384280-acc80n3v26n4bosepj4ql3ra7ba4pcid</string>
	<key>API_KEY</key>
	<string>AIzaSyAV4-kodTVkOY0kB7P6O9c-atXayb0z8r0</string>
	<key>GCM_SENDER_ID</key>
	<string>433418384280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oluwasegun.firebaseChatApp</string>
	<key>PROJECT_ID</key>
	<string>fir-chatapp-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chatapp-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433418384280:ios:bc25e03f6e1fe8402371ed</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chatapp-mobile.firebaseio.com</string>
</dict>
</plist>